.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-item {
  padding: 20px;
  max-width: 650px;
  width: 100%;
}

.modal-item img {
  width: 100%;
  cursor: pointer;
}

.modal-content {
  position: relative;
}

.chevron-left,
.chevron-right {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  font-size: 3rem;
  color: gray;
  cursor: pointer;
  z-index: 100;
}

.chevron-left {
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.chevron-right {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}